*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: auto;
    padding: 12px 0;
}

img{
    width: 100%;
}

.common-btn{
    background-color: #1d4ed8FF;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #1d4ed8FF;
    cursor: pointer;
    padding: 14px 40px;
}

.common-btn:hover {
    background-color: rgb(6, 28, 89);
}
nav ul li:hover{
    background-color: rgb(245, 238, 238);
}

header img{
    height: 40px;
    width: auto;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
ul li a{
    text-decoration: none;
    color: #575757;

}

/* Banner start!! */
.hero-sec{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;

    color: white;
    text-align: center;
    padding: 120px 20px 100px;

    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-sec h1{
    font-size: 70px;
    font-weight: 700;
}

.hero-sec p{
    max-width: 829px;
    margin: 20px auto 0;
    font-size: 22px;
}

.hero-btn{
    margin-top: auto;
    padding: 16px 75px;
    font-size: 16px;
}
/* Banner end */

/* Cards: Speakers START */
.speaker-parent{
    max-width: 1200px;/*same (l-r)gap as navbar*/
    margin: auto;
    padding: 100px 0px;
}

.sec-title{
    font-size: 50px;
    text-align: center;
}

.speakers-card-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speakers-card{
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    background-color: white;
}

.speaker-info{
    text-align: left;
    padding: 20px;
}

.speakers-card img{
    width: 100%;
    height: 324px;
    object-fit: cover;
    border-radius: 10px;
}

.expertise{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #2563eb;
}

.job-role{
    font-size: 12px;
    margin-top: 8px;
    color: #64748b;
}
